[package]
name = "client"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
serde = "1.0"
rand = "0.8.4"
serde_json = "1.0"
log = "0.4"
shared = { path = "../shared" }